@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    border: 0;
}

/* Sheared style */
body{
    font-family: "Quicksand", serif;
}
.padding{
    padding: 20px 130px;
}

/* Header section */

/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
.logo-img{
    width: 60px;
}
.logo-name{
    font-size: 30px;
    font-weight: 700;
    color: #111111;
}
.nav-item ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-item a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
#orange{
    color: orange;
}
#blue{
    color: #01ACFD;
}
#green{
    color: rgba(5, 212, 223, 1);
}
#purple{
    color: rgba(93, 88, 239, 1);
}
.orange-button{
    padding: 15px 60px;
    border-radius: 12px;
    background-color: orange;
    color: white;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 600;  
}

/* banner style  */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
   width: 31.25rem; 
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-des{
    font-size: 1.2rem;
    font-weight: 400;
    color: #111111;
    margin-bottom: 24px;
}
.black-button{
    padding: 15px 45px;
    background-color: #111111;
    color: white;
    font-family: "Quicksand", serif;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
}
.banner-image{
    max-width: 100%;
}

.side>ul{
    list-style: none;
}
.drop{
    list-style: none;
    position: absolute;
    text-align: left;
    padding: 0;
}

.side>ul .drop{
    display: none;
}
.side > .ham:hover .drop{
    display: block;
}
.drop a{
    text-decoration: none
}
.drop{
    padding-right: 70px;
}
.side{
    display: none;
}


/* main section */
main{
    background-image: url("../assets/bg.png");
}
/* curriculim section style */

.curriculum{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.curriculum-title{
    font-size: 2.4rem;
    margin-top: 30px;
    margin-bottom: 80px;
    font-weight: 700;
}
.curriculum-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 80px;
}
.card-box-1{
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1), white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 40px;
    border-radius: 18px;
    border: 1px solid rgba(222, 245, 255, 1);
}
.card-box-2{
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1), white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 40px;
    border-radius: 18px;
    border: 1px solid rgba(222, 245, 255, 1);
}
.card-box-3{
    background: linear-gradient(to bottom, rgba(238, 225, 255, 1), white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 40px;
    border-radius: 18px;
    border: 1px solid rgba(222, 245, 255, 1);
}
.card-img{
    width: 120px;
    margin-bottom: 30px;
}
.card-title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
.card-des{
    font-size: 14px;
    font-weight: 400;
    color: rgba(128, 128, 128, 1);
    margin-bottom: 30px;
}
.btn-card-1{
    padding: 0;
    font-family: "Quicksand", serif;
    color: rgba(100, 200, 255, 1);
    font-size: 15px;
    font-weight: 700;
}
.btn-card-2{
    padding: 0;
    font-family: "Quicksand", serif;
    color: rgba(240, 170, 0, 1);
    font-size: 15px;
    font-weight: 700;
}
.btn-card-3{
    padding: 0;
    font-family: "Quicksand", serif;
    color: rgba(135, 0, 255, 1);
    font-size: 15px;
    font-weight: 700;
}
.round-btn{
    display: flex;
    gap: 10px;
}
.btn-round{
    width: 17px;
    padding: 20px;
    background-color: orange;
    border-radius: 50%;
    
}



@media screen and (max-width: 600px) {
    .padding{
        padding: 12px 20px;
       }
       body{
        width: 100%;
       }
    /* navbar section */
   .logo-name{
    display: none;
   } 
   .nav-item ul {
    display: none;
   }
   .orange-button{
    display: none;
   }
   
   
   .navbar{
    padding-bottom: 12px;
    border-bottom: 1px solid orange;
   }
   /* banner section */
   .banner{
    flex-direction: column-reverse;
    justify-self: center;
    
    
   }
   .banner-content{
    text-align: center;
    width: 100%;
   }
   .banner-image{
    margin-bottom: 20px;
   }
   .side{
    display: block;
    padding-right: 20px;
   }
   .side>ul{
    list-style: none;
}
.drop{
    list-style: none;
    position: absolute;
    text-align: left;
    padding: 0;
}

.side>ul .drop{
    display: none;
}
.side > .ham:hover .drop{
    display: block;
}
.drop a{
    text-decoration: none;
    font-size: 12px;
    gap: 5px;  
}

/* curriculum section */
.curriculum-card{
    grid-template-columns: repeat(1, 1fr);
}
.round-btn{
    display: none;
}
}