@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    border: 0;
}

/* Sheared style */
body{
    font-family: "Quicksand", serif;
}
.padding{
    padding: 20px 130px;
}

/* Header section */

/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
.logo-img{
    width: 60px;
}
.logo-name{
    font-size: 30px;
    font-weight: 700;
    color: #111111;
}
.nav-item ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-item a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
#orange{
    color: orange;
}
#blue{
    color: #01ACFD;
}
#green{
    color: rgba(5, 212, 223, 1);
}
#purple{
    color: rgba(93, 88, 239, 1);
}
.orange-button{
    padding: 15px 60px;
    border-radius: 12px;
    background-color: orange;
    color: white;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 600;  
}

/* banner style  */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
   width: 31.25rem; 
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-des{
    font-size: 1.1rem;
    font-weight: 400;
    color: #111111;
    margin-bottom: 24px;
}
.black-button{
    padding: 15px 45px;
    background-color: #111111;
    color: white;
    font-family: "Quicksand", serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 12px;
}


.side>ul{
    list-style: none;
}
.drop{
    list-style: none;
    position: absolute;
    text-align: left;
    padding: 0;
}

.side>ul .drop{
    display: none;
}
.side > .ham:hover .drop{
    display: block;
}
.drop a{
    text-decoration: none
}
.drop{
    padding-right: 70px;
}
.side{
    display: none;
}


/* main section */

/* curriculum section style */
.back{
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
}

.curriculum{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.curriculum-title{
    font-size: 2.4rem;
    margin-top: 30px;
    margin-bottom: 80px;
    font-weight: 700;
}
.curriculum-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 80px;
}
.card-box-1{
    background: linear-gradient(to top, white 80%, rgba(222, 245, 255, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 40px;
    border-radius: 18px;
    border: 1px solid rgba(222, 245, 255, 1);
}
.card-box-2{
    background: linear-gradient(to top, white 80%, rgba(255, 244, 220, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 40px;
    border-radius: 18px;
    border: 1px solid rgba(255, 244, 220, 1);
}
.card-box-3{
    background: linear-gradient(to top, white 80%, rgba(238, 225, 255, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 40px;
    border-radius: 18px;
    border: 1px solid rgba(238, 225, 255, 1);
}
.card-img{
    width: 120px;
    margin-bottom: 30px;
}
.card-title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
.card-des{
    font-size: 14px;
    font-weight: 400;
    color: rgba(128, 128, 128, 1);
    margin-bottom: 30px;
}
.read-btn-1{
    padding: 0;
    font-family: "Quicksand", serif;
    color: rgba(100, 200, 255, 1);
    font-size: 15px;
    font-weight: 700;
    background-color: transparent;
}
.read-btn-2{
    padding: 0;
    font-family: "Quicksand", serif;
    color: rgba(240, 170, 0, 1);
    font-size: 15px;
    font-weight: 700;
    background-color: transparent;
}
.read-btn-3{
    padding: 0;
    font-family: "Quicksand", serif;
    color: rgba(135, 0, 255, 1);
    font-size: 15px;
    font-weight: 700;
    background-color: transparent;
}
.round-btn{
    display: flex;
    gap: 10px;
    margin-bottom: 80px;
}
.btn-round{
    width: 17px;
    padding: 15px;
    background-color: orange;
    border-radius: 50%;
   margin-bottom: 60px; 
}

/* Our stories section style */
.back-2{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.993) , rgba(254, 161, 1, 0.205) );
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-back{
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
}

.our-stories{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.stories-title{
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-bottom: 80px;
}
.stories-card{
    display: flex;
    align-items: start;
    gap: 20px;
}
.card-container-1{
    background-color: white;
    border-radius: 16px;
    margin-bottom: 80px;
}
.stories-card-img{
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 50px;
}
.stories-card-title{
    padding: 0px 38px;
    font-size: 1.5rem;
    margin-bottom: 50px;
}
.stories-card-des{
    padding: 0px 38px;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    margin-bottom: 25px;
}
.stories-card-button-1{
    padding: 14px 18px;
    background-color: rgba(60, 216, 232, 1);
    border-radius: 47px;
    font-family: "Quicksand", serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    position: relative;
    bottom: 17.2rem;
    left: 2.2rem;
}
.side-card{
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card-container-2{
   background-color: white;
   border-radius: 16px;
}
.card-container-3{
   background-color: white;
   border-radius: 16px;
}
.card-container-4{
   background-color: white;
   border-radius: 16px;
}
.card-container-5{
   background-color: white;
   border-radius: 16px;
}
.card-img-side{
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 35px;
}
.stories-card-title-side{
    font-size: 1rem;
    font-weight: 700;
    padding: 0px 38px;
    margin-bottom: 10px;
}
.stories-card-button-2{
    padding: 10px 18px;
    background-color: rgba(149, 178, 38, 1);
    border-radius: 47px;
    font-family: "Quicksand", serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    position: relative;
    bottom: 6.8rem;
    left: 2.2rem;
}
.stories-card-button-3{
    padding: 10px 18px;
    background-color: rgba(93, 88, 240, 1);
    border-radius: 47px;
    font-family: "Quicksand", serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    position: relative;
    bottom: 6.8rem;
    left: 2.2rem;
}



@media screen and (max-width: 600px) {
    .padding{
        padding: 12px 20px;
       }
       body{
        width: 100%;
       }
    /* navbar section */
   .logo-name{
    display: none;
   } 
   .nav-item ul {
    display: none;
   }
   .orange-button{
    display: none;
   }
   
   
   .navbar{
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid orange;
   }
   /* banner section */
   .banner{
    flex-direction: column-reverse;
    justify-self: center;
    
    
   }
   .banner-content{
    text-align: center;
    width: 100%;
   }
   .banner-image{
    margin-bottom: 20px;
   }
   .side{
    display: block;
    padding-right: 20px;
   }
   .side>ul{
    list-style: none;
}
.drop{
    list-style: none;
    position: absolute;
    text-align: left;
    padding: 0;
}

.side>ul .drop{
    display: none;
}
.side > .ham:hover .drop{
    display: block;
}
.drop a{
    text-decoration: none;
    font-size: 12px;
    gap: 5px;  
}

/* curriculum section */
.curriculum-card{
    grid-template-columns: repeat(1, 1fr);

}
.round-btn{
    display: none;
}
/* stories */
.stories-card{
    flex-direction: column;
    align-items: start;
    gap: 0px;
    margin-bottom: 20px;
}
.card-container-1{
    display: none;
}

.card-img-side{
    width: 170px;
    margin-bottom: 20px;
}
.stories-card-title-side{
    font-size: 0.6rem;
    font-weight: 700;
    padding: 0px 20px;
}
.stories-card-button-2{
    padding: 5px 10px;
    background-color: rgba(149, 178, 38, 1);
    border-radius: 47px;
    font-family: "Quicksand", serif;
    font-size: 0.7rem;
    font-weight: 500;
    color: white;
    position: relative;
    bottom: 4.5rem;
    left: 1.1rem; 
}
.stories-card-button-3{
    padding: 5px 10px;
    background-color: rgba(93, 88, 240, 1);
    border-radius: 47px;
    font-family: "Quicksand", serif;
    font-size: 0.7rem;
    font-weight: 500;
    color: white;
    position: relative;
    bottom: 4.5rem;
    left: 1.1rem; 
}
}